<!DOCTYPE html>
<html>
<head>
  <title>PaulPersonalWeb</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class='main-wrapper'>
      <div id='left-layout-column'>
        <div id='logo'>       
          <%= link_to(image_tag("logo.png"), root_path ) %>
        </div>
        <ul id="nav">
            <li class="<%= current_path_active?(root_path) %>">
                <%= link_to "Home", root_path %>
            </li>
            <li class="<%= current_path_active?(page_path('about')) %>">
                <%= link_to "About", page_path("about") %>
            </li>
            <li class="<%= current_path_active?(page_path('projects')) %>">
                <%= link_to "Projects", page_path("projects") %>
            </li>
            <li class="<%= current_path_active?(page_path('resume')) %>">
                <%= link_to "Resume", page_path("resume") %>
            </li>
            <li class="<%= current_path_active?(page_path('write_me')) %>">
                <%= link_to "Write to Me", page_path("write_me") %>
            </li>
        </ul>
          <div id='announcing'>
          <h6>
            Announcing
          </h6>
          <div id='cta'>
            <div class="tip tip-blue">
                Guess what?  My latest project ToyMetric has officially launched! Check it out here <a href="http://toymetric.com" target="_blank">ToyMetric.com</a>
            </div>
          </div>          
        </div>
      </div>   
      <div id='right-layout-column'>        
        <div id="content"><!-- start content -->  
           <%= yield %>
        </div><!-- end content -->
      </div>
    </div>
</div>
<div id='footer'>
      <div class='main-wrapper'>
        <div id='footer-small-col'></div>
        <div id='footer-main-col'>
          <div>
            Paul Deardorff 
            <br />
            No Copyright since a few years ago
            <br />
            <a href='http://pauldeardorff.com' target='_blank'>PaulDeardorff.com</a>
          </div>
          <div>
            This is the simplest footer you'll ever see.  
          </div>
        </div>
      </div>
    </div> 
</body>
</html>
